---
---

<!DOCTYPE html><html lang="en"><head prefix="og: http://ogp.me/ns#">
<html class="">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.settings.seo.description }}">
  <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
  <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">      <meta http-equiv="X-UA-Compatible" content="IE=edge">      <meta property="og:locale" content="en_EN" />    <meta property="og:type" content="website" />    <meta property="og:title" content="o{d}d // open{sensors}data" />    <meta property="og:description" content="Solo nei giorni del Festival della Politica sarà attivo Sior Todaro Cacciari, un generatore casuale di (im)probabili dichiarazioni del pluri-sindaco veneziano. Le dichiarazioni sono completamente inventate e non sono riconducibili in nessun modo a Massimo Cacciari" />    <meta property="og:url" content="http://opensensorsdata.it/sandbox" />    <meta property="og:site_name" content="o{d}d // open{sensors}data" />    <meta property="og:image" content="https://github.com/opensensorsdata/sandbox/blob/gh-pages/assets/img/Faro_de_Hopsnes%2C_Su%C3%B0urland%2C_Islandia%2C_2014-08-13%2C_DD_083.jpg" />

  <title>{{ site.data.settings.title }}</title>

  <link rel="stylesheet" href="assets/css/all.css">  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
<body>

{% include header.html %}{% include what.html %}

{% include manifesto.html %}{% include how.html %}
{% include contact.html %}

{% include form.html %}


{% include footer.html %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="assets/js/functions.js"></script>
<!-- REMEMBER TO ADD ANALYTICS! -->
</body>
</html>
